.new-image-input {
    /* place an image next to login form */
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.promote-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}